*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'VCR OSD Mono', monospace;
    /*font-size: 50px;*/
    font-weight: lighter;
}
body{
    background-color: #180505;
}
.main-container{
    padding: 30px;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #c18500;
    color: #fff;
    border-radius: 20px;
}
img{
    width: 230px;
    height: 230px;
}
.card-container{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.layer-info{
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.card{
    background-color: #f0a401;
    padding: 10px 43px;
    font-size: 15px;
    border-radius: 3%;
}
.rank{
    color: #fff;
    font-size: 68px;
    font-weight: lighter;
    margin-left: 170px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: right;
    background-color: #feae00;
    border-radius: 15%;
}
hr{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 2px;
    background-color: white;
    border: none;
}
.layer-title{
    font-size: 60px;
    margin-bottom: 10px;
}
.vio-title{
    font-size: 13.5px;
}
.white-card{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 43px;
    font-size: 15px;
    border-radius: 3%;
}
.white{
    background-color: black;
    color: black;
    border: solid 1px white;
}
.white-container{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 20px;
}
.card-title{
    font-size: 17px;
}
